.profile-img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain; /* This property ensures the image fits without distortion */
    border-radius: 50%;
}

.profile-card,
.body-card {
    margin-bottom: 20px;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust this value to your desired height */
}

.profile-pic-container img,
.social-icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

